.hero-unit
  h1
    = Pasantias::Application::TITLE
  p Proyecto de aprendizaje.
  p Sitio con Rails 3, Slim, omniauth, sqlite, twitter bootstrap, git, etc.
  a.btn.btn-primary.btn-large href="#"
    | « Botonazo »

.row
  .span4
    h2 Lorem
    p ipsum asdfads fqwer qwerasdfkj a;dsfjkl; adsjfkl;jasldkf jalskdfj; klasdjflkajds flkadsjf;k jadslfkjakl;sdjfkl;ads jfalsdkfj aldskfjasdf
    a.btn href="#"
      | Botón 1 »
  .span4
    h2 Lorem
    p ipsum
    p ipsum asdfads fqwer qwerasdfkj a;dsfjkl; adsjfkl;jasldkf jalskdfj; klasdjflkajds flkadsjf;k jadslfkjakl;sdjfkl;ads jfalsdkfj aldskfjasdf
    p ipsum asdfads fqwer qwerasdfkj a;dsfjkl; adsjfkl;jasldkf jalskdfj; klasdjflkajds flkadsjf;k jadslfkjakl;sdjfkl;ads jfalsdkfj aldskfjasdf
    a.btn href="#"
      | Botón 2 »
  .span4
    h2 Lorem
    p ipsum
    p ipsum asdfads fqwer qwerasdfkj a;dsfjkl; adsjfkl;jasldkf jalskdfj; klasdjflkajds flkadsjf;k jadslfkjakl;sdjfkl;ads jfalsdkfj aldskfjasdf
    a.btn href="#"
      | Botón 3 »
