h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  div
    = f.label :email
    br/
    = f.email_field :email
  div
    = f.label :password
    br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    div
      = f.check_box :remember_me
      = f.label :remember_me
  div= f.submit "Sign in"
= render "links"
