doctype html
html
  head
    meta charset="utf-8"
    title 
      = Pasantias::Application::TITLE
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  body
    #fb-root
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar data-target=".nav-collapse" data-toggle="collapse"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand href="/"
            = Pasantias::Application::TITLE
          .nav-collapse
            ul.nav
              li.active
                a href="/" Home
              - if user_signed_in?
                li
                  a href="/users/edit" = current_user.email
                li
                  a href="/logout" Logout
              - else
                li
                  a href="/login" Login
                li
                  a href="/register" Register
                li
                  = link_to "Facebook Login", user_omniauth_authorize_path(:facebook)
                li
                  = link_to "Twitter Login", user_omniauth_authorize_path(:twitter)

    .container
      p.dev-notice = notice
      p.dev-alert = alert
      = yield
      hr
      footer
        p
          | © 
          = Pasantias::Application::TITLE
